.center {
    padding: 34px 61px 33px 118px;
    width: 571px;
}

.background-white {
    background-color: #fff;
    padding-top: 67px;
    padding-bottom: 67px;
    padding-left: 151px;
}

.image-space {
    margin-left: 160px;
}