@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="~/css/site.css" />
@if (SignInManager.IsSignedIn(User))

{
    @if (@UserManager.GetUserName(User).Contains("admin"))
    {
<li><a class="nav-bar-color-buttons" asp-area="" asp-controller="Admin" asp-action="AdminPanel"><i class="fas fa-unlock-alt"></i>AdminPanel</a></li>
    }
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>

            </li>
            <li>
                <a style="color: #3d9799 !important;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button style="color: #3d9799 !important;" type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>

    <script>
        $('.space-nav-bar').css({
            'margin-left': '70px'
        });
    </script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-bar-color-buttons" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a class="nav-bar-color-buttons" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}