
@{
    ViewData["Title"] = "Category";
}
<html>
<head>
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
</head>
<body>
    <p class="centered categories">Categories</p>

    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <div class="image-for-category2">
                    @*<p class="dropdown-top">Procesoare</p>*@
                    <a href="/"><img class="image-for-category" src="~/images/categorii/procesor.png" /></a>
                    @*<h4 class="chidden">Procesoare</h4>*@
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/placavideo.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/SSDHDD.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/placabaza.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/ram.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/sursa.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/carcase.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/casti.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/mouse.png" /></a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category">
                    <a href="/"><img class="image-for-category" style="padding-top: 42px;" src="~/images/categorii/tastatura.png" /></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


