
@{
    ViewData["Title"] = "Category";
}
<html>
<body>
    <p class="centered categories">Categories</p>

    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <div class="image-for-category2">
                    <a href="/"><img class="image-for-category" src="~/images/categorii/procesor.png" /></a>
                    <h4 class="chidden">Procesoare</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/placavideo.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/SSDHDD.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/placabaza.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/ram.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/sursa.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/carcase.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category2">
                    <img class="image-for-category" src="~/images/categorii/casti.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category">
                    <img class="image-for-category" src="~/images/categorii/mouse.png" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="image-for-category">
                    <img class="image-for-category" style="padding-top: 42px;" src="~/images/categorii/tastatura.png" />
                </div>
            </div>

        </div>

    </div>
</body>
</html>


