@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Kaby Lake, Celeron Dual-Core G3930 2.90GHz box</p>
                        <h5 class="card-price">147<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Kaby Lake, Core i5 7400 3GHz box</p>
                        <h5 class="card-price">775<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Coffee Lake, Core i7 8700K 3.70GHz box</p>
                        <h5 class="card-price">1583<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Coffee Lake, Core i5 8400 2.80GHz box</p>
                        <h5 class="card-price">776<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
