
@{
    ViewData["Title"] = "ModalitatiPlata";
}


<html>

<head>
    <link rel="stylesheet" href="~/css/tmr.css" />
</head>
<body>
    <div class="container">
        <p class="title">Modalitati de plata</p>
        <p><strong>Plata se face la curier in momentul cand vă va veni coletul.</strong></p>
        <p><strong>Plata se face ramburs.</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>Produsele va vor veni in maxim 3 zile lucratoare de la punerea comenzii.</strong></p>
        <p>Livrarea se face prin Curierat Rapid sau prin Posta Romana, doar pe teritoriul Romaniei.</p>
        <p>Prin&nbsp;<strong>„Curier rapid”(Fan Curier)</strong>&nbsp;durata expedierii coletului &nbsp;este de 1-3 zile lucratoare, iar livrarea acestora se face la adresa dorita de dumneavoastra. Este ceea ce se cheama „next day delivery – door to door delivery”. Exista cazuri rare, independente de actiunile noastre, cand durata de expediere prin curier rapid poate depasi 24 (dar nu mai mult de 48 de ore).</p>
        <p>Comenzile efectuate vineri se livreaza luni (daca nu ne comunicati ca doriti livrarea sambata).</p>
        <p>Prin&nbsp;<strong>„Posta romana”</strong>&nbsp;ca metoda de expediere, coletul comandat de dumneavoastra va ajunge intr-o perioada cuprinsa intre 3-5 zile lucratoare, de la data confirmarii telefonice a comenzii. Veti fi instiintat printr-un aviz postal introdus in cutia postala sa va prezentati la cel mai apropiat oficiu postal pentru a plati si a ridica coletul.</p>
        <p><strong>NOTA&nbsp;</strong>Independent de actiunile noastre, in perioadele Sarbatorilor de Iarna si Black Friday, livrarea coletelor prin curier se poate face, in cazuri exceptionale, in 24-72 de ore, din cauza volumului mare de colete pe care il au cei de la curier.</p>
    </div>
</body>
