
@{
    ViewData["Title"] = "TermeniConditii";
}
<html>

<head>
    <link rel="stylesheet" href="~/css/tmr.css" />
</head>
<body>
    <div class="container">
        <p class="title">Termeni si conditii</p>
        <p>Termeni şi condiţii cu privire la Securitatea Datelor Personale :</p>
        <p>- datele personale vor fi folosite numai in scopul declarat al acestui site.</p>
        <p>- ne obligam sa nu facem publice sau sa nu vindem bazele de date continand informatii referitoare la datele personale ale utilizatorilor acestui site.</p>
        <p>- datele personale furnizate de utilizatorii serviciilor noastre vor fi folosite numai pentru a confirma comenzile, a livra produsele achizitionate prin intermediul acestui site si pentru facturare.</p>
        <p>- adresa de e-mail furnizata poate fi folosita pentru a va comunica mesaje referitoare la produse, servicii, oferte speciale sau orice alte actiuni de marketing desfasurate de S.C PAMARALIND GROUP SRL.</p>
        <p>- puteti cere oricand stergerea adresei dumneavoastra de e-mail din lista folosita pentru comunicarea de marketing. La cererea dumneavoastra, S.C. PAMARALIND GROUP SRL va șterge toate datele dumneavoastra personale furnizate cu ocazia înregistrării.</p>
        <p>RETURNAREA PRODUSELOR SE FACE PE CHELTUIALA CLIENTULUI DACA DEFECȚIUNILE PRODUSELOR SUNT DIN CAUZE INDEPENDENTE DE NOI, IAR DACA ESTE DIN  CAUZA NOASTRA VOM SUPORTA  ACESTE CHELTUIELI SI VOM RETURNA CONTRAVALOAREA PRODUSULUI SAU ÎNLOCUIREA ACESTUIA IN TIMPUL CEL MAI SCURT.</p>
    </div>

</body>

</html>
